<section class="Form my-4 mx-6" id="full">
  <div class="container">

    <div  class="row text-center">
      <div id="divimg">
        <img src="https://static.vecteezy.com/system/resources/previews/002/076/478/original/contactless-payment-illustration-concept-with-woman-character-vector.jpg" class="img-fluid">
      </div>
    </div>

    <div  class="row text-center">
      <div id="right">
        <p id="message">Your Table Reserve Request is Pending!</p>
        <p id="message">We will inform you via emails.</p>
      </div>
    </div>
  </div>
</section>
