.container-fluid{
  height: 80px;
  background-color: black;
  margin-left: 20px;
  margin-right: 20px;
}

.navbar-brand {
  color: #fff;
  font-size: 40px;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 2px;
  margin-left: 40px;
}

#navbar-content{
  justify-content: center;
}

.nav-link{
  color: #fff;
}

.nav-link:hover{
  color: rebeccapurple;
}

#navbar-login {
  text-transform: uppercase;
  margin-right: 40px;
}




















