.row{
  margin-top: 50px;
}

h2{
  text-align: center;
  color: #000821;
  font-weight: bold;
}

hr{
  height: 2px;
}

th{
  font-size: 15px;
  font-weight: bold;
  text-align: center;
}

td{
  text-align: center;
}

ul{
  list-style-type:none;
}

