<!--1-->

<div class="row" id="row1">
  <div class="col-8" id="row1_1">


        <img src="https://cff2.earth.com/uploads/2017/11/22174302/Food-cues-like-ads-and-images-can-push-people-to-overeat.jpg" class="card-img" alt="...">


     </div>

  <div class="col-4" id="row1_2">

        <p id="weddings_and_events">Weddings <br />& Events</p>
        <p id="row1_details">With supporting text below as a natural lead-in to additional content.Style and class are what we promise for your special occasions. Choose from our extensive fleet of luxury vehicles and make your day a truly unforgettable one.</p>
        <br />
        <button type="button" class="btn btn-outline-dark">MORE DETAILS</button>


    </div>
  </div>

<!--2-->

<mdb-carousel [controls]="false" id="secondrow">
  <mdb-carousel-item>
    <img
      src="https://www.freepik.com/free-photo/delicious-fried-chicken-plate_8167836.html"
      class="d-block w-100"
      alt="..."
    />
  </mdb-carousel-item>
  <mdb-carousel-item>
    <img
      src="https://mdbcdn.b-cdn.net/img/new/slides/042.webp"
      class="d-block w-100"
      alt="..."
    />
  </mdb-carousel-item>
  <mdb-carousel-item>
    <img
      src="https://mdbcdn.b-cdn.net/img/new/slides/043.webp"
      class="d-block w-100"
      alt="..."
    />
  </mdb-carousel-item>
</mdb-carousel>

    <!--3-->

 <!-- <br>
 <div class="row" id="thirdrow">

  <div class="col-3" id="col_6_padding">
    <div class="card bg-dark text-white" id="hoverimg" style="height:450px; border: none;">
      <img src="https://w0.peakpx.com/wallpaper/648/797/HD-wallpaper-pancakes-with-syrup.jpg" class="card-img" alt="...">
      <div class="card-img-overlay">
        <h4 class="card-title">BREAKFAST</h4>
      </div>
    </div>
  </div>
  <div class="col-3" id="col_6_padding">
    <div class="card bg-dark text-white" id="hoverimg" style="height:450px; border: none;">
      <img src="https://w0.peakpx.com/wallpaper/648/797/HD-wallpaper-pancakes-with-syrup.jpg" class="card-img" alt="...">
      <div class="card-img-overlay">
        <h4 class="card-title">LUNCH</h4>
      </div>
    </div>
  </div>
  <div class="col-3" id="col_6_padding">
    <div class="card bg-dark text-white" id="hoverimg" style="height:450px; border: none;">
      <img src="../Resources/withdriver.jpg" class="card-img" alt="...">
      <div class="card-img-overlay">
        <h4 class="card-title">DINNER</h4>
      </div>
    </div>
  </div>
  <div class="col-3" id="col_6_padding">
    <div class="card bg-dark text-white"  id="hoverimg" style="height:450px; border: none;">
      <img src="../Resources/airport.jpg" class="card-img" alt="...">
      <div class="card-img-overlay">
       <h4 class="card-title">DRINKS</h4>
      </div>
    </div>
  </div>
</div> -->

<!--4-->
<div class="row" id="thirdrow">

  <div class="col-3" id="col_6_padding">
    <div class="profile-card-6"><a routerLink="/home-breakfast"><img src="http://envato.jayasankarkr.in/code/profile/assets/img/profile-6.jpg" class="img img-responsive"></a>
      <div class="profile-name">BREAKFAST
          <br></div>
        <!-- <div class="profile-overview">
            <div class="profile-overview">
                <div class="row text-center">
                    <div class="col-xs-4">
                        <p>7.00 AM - 10.00 AM</p>
                    </div>
                </div>
            </div>
        </div> -->
    </div>
  </div>

  <div class="col-3" id="col_6_padding">
    <div class="profile-card-6"><img src="http://envato.jayasankarkr.in/code/profile/assets/img/profile-6.jpg" class="img img-responsive">
      <div class="profile-name">LUNCH
          <br></div>
    </div>
  </div>

  <div class="col-3" id="col_6_padding">
    <div class="profile-card-6"><img src="http://envato.jayasankarkr.in/code/profile/assets/img/profile-6.jpg" class="img img-responsive">
      <div class="profile-name">DINNER
          <br></div>
    </div>
  </div>

</div>

<!--5-->

<div class="row" id="thirdrow">

  <div class="col-3" id="col_6_padding">

  </div>

  <div class="col-3" id="col_6_padding">
    <div class="profile-card-6"><img src="http://envato.jayasankarkr.in/code/profile/assets/img/profile-6.jpg" class="img img-responsive">
      <div class="profile-name">DRINKS
          <br></div>
    </div>
  </div>

  <div class="col-3" id="col_6_padding">
    <div class="profile-card-6"><img src="http://envato.jayasankarkr.in/code/profile/assets/img/profile-6.jpg" class="img img-responsive">
      <div class="profile-name">DESERTS
          <br></div>
    </div>
  </div>

  <div class="col-3" id="col_6_padding">
    <div class="profile-card-6"><img src="http://envato.jayasankarkr.in/code/profile/assets/img/profile-6.jpg" class="img img-responsive">
      <div class="profile-name">SOUPS
          <br></div>
    </div>
  </div>

</div>

