
<div class="container">
  <div class="row">
      <div class="col-md-12">
        <i class="fa-regular fa-egg-fried"></i>
        <h3>Reserve a Table</h3>
      </div>
  </div>
  <hr>
</div>

    <div class="row" id="formcolumn">
      <div class="col-7">
        <img src="https://img.freepik.com/premium-vector/interior-house-dining-room-table-with-chairs-lamp-restaurant-cafe-bottle-wine-glasses-romantic-date-concept-furniture-isolated-white-cartoon-flat-vector-illustration_169241-5155.jpg?w=2000" class="img-fluid">
      </div>
      <div class="col-5" id="right">
      <form [formGroup]="tableForm" (submit)="onSubmit()">
          <div class="row">
            <div class="col-lg-5">
              <input type="text" placeholder="First Name" class="form-control my-3 p-4"  formControlName="firstName">
            </div>
            <div class="col-lg-5">
              <input type="text" placeholder="Last Name" class="form-control my-3 p-4"  formControlName="lastName">
            </div>
          </div>

          <div class="form-row">
            <div class="col-lg-10">
              <input type="date" class="form-control" id="datepicker"  placeholder="Date" formControlName="date">
            </div>
          </div>

          <div class="form-row">
            <div class="col-lg-10">
              <input type="time" class="form-control" id="datepicker"  placeholder="Time" formControlName="time">
            </div>
          </div>

        <div class="form-row">
          <div class="col-lg-10">
            <input type="email" placeholder="Email" class="form-control my-3 p-4" formControlName="email">
          </div>
        </div>

        <div class="form-row">
          <div class="col-lg-10">
            <input type="text" placeholder="Phone" class="form-control my-3 p-4" formControlName="phone">
          </div>
        </div>

        <div class="form-row">
          <div class="col-lg-10">
            <input type="text" placeholder="No of Seats" class="form-control my-3 p-4" formControlName="seatcount">
          </div>
        </div>
        <br><br><br>

        <div class="form-row">
          <div class="col-lg-10">
            <button type="submit" class="btnlogin mt-3 mb-5" id="btn">Reserve</button>
          </div>
        </div>
      </form>
  </div>
</div>

