<section class="Form my-4 mx-6" id="full">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <img src="https://img.freepik.com/free-vector/mobile-login-concept-illustration_114360-83.jpg?w=2000" class="img-fluid">
      </div>


      <div class="col-md-6 px-5 pt-5" id="right">
        <i class="fa-solid fa-user-unlock" id="user-login-icon"></i>
        <h1 class="font-weight-bold">ABC</h1>
        <h3>Admin Sign In</h3>
        <br>

      <form action="">
        <div class="form-row">
          <div class="col-lg-7">
            <input type="email" placeholder="Email Address" class="form-control my-3 p-4">
          </div>
        </div>
        <div class="form-row">
          <div class="col-lg-7">
            <input type="password" placeholder="Password" class="form-control my-3 p-4">
          </div>
        </div>
        <div class="form-row">
          <div class="col-lg-7">
            <button type="button" class="btnlogin mt-3 mb-5">Login</button>
          </div>
        </div>
        <a href="#">Forgot Password?</a>
        <p>Don't have an account? <a href="#">Register Here</a></p>
      </form>

</div>
    </div>
  </div>
</section>
