
<div class="container">
  <div class="row">
      <div class="col-md-12">
        <i class="fa-regular fa-egg-fried"></i>
                 <p>Breakfast</p>
      </div>
  </div>
  <hr>
  <div class="row">
      <div class="col-md-3" *ngFor="let item of food">
          <!-- <div class="card mb-3">
              <div class="card-body">
                  <h5 class="card-title">{{item.name}}</h5>
                  <h6 class="card-subtitle mb-2 text-muted">{{item.price}}</h6>
                  <hr>
                  <button type="button" class="btn btn-sm btn-outline-primary mr-2" (click)="(item)">Add to Cart</button>
                  <img src={{item.imageUrl}} alt="" style="width: 100px;">
              </div>
          </div> -->
          <div class="profile-card-4 text-center"><img src={{item.imageUrl}} class="img img-responsive">
            <div class="profile-content">

                <div class="item-name">{{item.name}}</div>
                <div class="item-description">{{item.description}}</div>
                <div class="row">
                    <div class="col-xs-4">
                      <div class="profile-overview">
                        <p class="item_price">${{item.price}}</p><br>
                        <button class="button-hover-addcart button"><span>Add to Cart &nbsp;</span><i class="fa fa-shopping-cart"></i></button>
                      </div>
                    </div>
                </div>
            </div>
          </div>
      </div>
  </div>
</div>

