
.container-fluid{
  height: 80px;
  background-color: #000821;
  margin-top: 0px;
  margin-left: 5px;
  margin-right: 5px;
  border-radius: 30px;
  padding-top: 0px;
  box-shadow: 0px 8px 8px -6px #000821(0,0,0,.5);
}

.navbar-brand {
  color: white;
  font-size: 40px;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 2px;
  margin-left: 80px;
}

.navbar-brand:hover {
  -ms-transform: scale(1.1);
  -webkit-transform: scale(1.1);
  transform: scale(0.95);
  color: white;
}

.navbar-brand:after {
  color: white;
}

#navbar-content{
  justify-content: center;
}

.nav-link{
  color: white;
  text-transform: uppercase;
  font-weight: bold;
}

.nav-link:hover{
  color: #e6b115;
  -ms-transform: scale(1.1);
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}


#navbar-login {
  text-transform: uppercase;
  font-weight: bold;
  text-decoration: none;

  margin-left: 20px;
}

i{
  padding-right: 50px;
  color: #e6b115;
  justify-content: center;
}

i:hover {
  -ms-transform: scale(1.1);
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
  color: white;
}














