<div class="container" id="container">
  <div class="row">
    <div class="col-12">
      <h4 id="emptycart" *ngIf="cart.length===0"><i class="fa-light fa-cart-xmark"></i>Sorry, You don't have any items in the cart!</h4>
      <div id="btndiv">
        <button type="submit" class="btnlogin mt-3 mb-5" id="btnclearcart" (click)="clearcart()">Clear Cart&nbsp;<i class="fa-solid fa-trash-can"></i></button>
      </div>
      <table class="table table-image" *ngIf="cart.length>0">

        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Item Image</th>
            <th scope="col">Item Name</th>
            <th scope="col">Item Price</th>
            <th scope="col">Item Quantity</th>
            <th scope="col">Delete Item</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of cart;index as i">
            <th scope="row">{{i+1}}</th>
            <td class="w-25">
              <img [src]="item.imageUrl" class="img-fluid img-thumbnail" alt="No image found">
            </td>
            <td>{{item.name}}</td>
            <td>${{item.price}}</td>
            <td><i class="fa-solid fa-circle-minus fa-2xs"  (click)="decreaseQuantity(i)" id="quantitychange"></i>&nbsp;{{item.quantity}}&nbsp;<i class="fa-solid fa-circle-plus fa-2xs"(click)="increaseQuantity(i)" id="quantitychange"></i></td>

            <td><i class="fa fa-trash" id="delete"  aria-hidden="true" role="button" (click)="deleteItem(i)"></i></td>
          </tr>
        </tbody>
      </table>
      <h4 *ngIf="cart.length>0" id="total">Total: {{totalPrice}}</h4>

      <div id="btndiv">
        <button type="submit" class="btnlogin mt-3 mb-5" id="btn" *ngIf="cart.length>0" [routerLink]="['/order']">Place Order&nbsp;<i class="fa-sharp fa-solid fa-arrow-right"></i></button>
      </div>
    </div>
  </div>
</div>
