.modal.fade.show {
  display: block;
  background: rgba(0, 0, 0, 0.4);
}



.card-title{
  color: black;
  font-size: 20px;
  font-weight: 500;
  margin-bottom: 5px;
  display: block;
}

.item-description{
  font-size: 10px;
}

#add_food{
  text-align: right;
}

.card-body{
  height:300px
}

.btns{
  position: absolute;
  bottom: 25px;

}

i{
  text-align: right;
}
