
<div class="container">
  <div class="row">
      <div class="col-md-12">
        <p id="ketchup">KETCHUP</p>
      </div>
      <div class="col-md-12">
        <p id="admin">Admin Homepage</p>
      </div>
  </div>
  <hr>
  <div class="row" id="btnrow">
      <div class="col-4">
        <button id="btn" routerLink="/admin-food"><div><i class="fa-solid fa-burger"></i></div>&nbsp;Add Foods</button>
      </div>
      <div class="col-4">
        <button id="btn" routerLink="/view-orders"><div><i class="fa-solid fa-file-invoice"></i></div>&nbsp;View Orders</button>
      </div>
      <div class="col-4">
        <button id="btn" routerLink="/view-table"><div><i class="fa-solid fa-utensils"></i></div>&nbsp;View Tables</button>
      </div>
  </div>

</div>

