
<div class="container">
  <div class="row">
      <div class="col-md-12">
        <i class="fa-regular fa-egg-fried"></i>
        <h3>Order Details</h3>
      </div>
  </div>
  <hr>
</div>


    <div class="row" id="formcolumn">
      <div class="col-7">
        <img src="https://img.freepik.com/premium-vector/interior-house-dining-room-table-with-chairs-lamp-restaurant-cafe-bottle-wine-glasses-romantic-date-concept-furniture-isolated-white-cartoon-flat-vector-illustration_169241-5155.jpg?w=2000" class="img-fluid">
      </div>


      <div class="col-5" id="right">


      <form [formGroup]="orderForm" (submit)="onSubmit()">

          <div class="row">
            <div class="col-lg-5">
              <input type="text" placeholder="First Name" class="form-control my-3 p-4"  formControlName="firstname" required>
            </div>
            <div class="col-lg-5">
              <input type="text" placeholder="Last Name" class="form-control my-3 p-4"  formControlName="lastname"required>
            </div>
          </div>

          <div class="form-row">
            <div class="col-lg-10">
              <input type="email" placeholder="Address" class="form-control my-3 p-4" formControlName="address"required>
            </div>
          </div>

          <div class="form-row">
            <div class="col-lg-10">
              <input type="email" placeholder="City" class="form-control my-3 p-4" formControlName="city"required>
            </div>
          </div>

        <div class="form-row">
          <div class="col-lg-10">
            <input type="email" placeholder="Email" class="form-control my-3 p-4" formControlName="email"required email>
          </div>
        </div>

        <div class="form-row">
          <div class="col-lg-10">
            <input type="text" placeholder="Phone" class="form-control my-3 p-4" formControlName="phone"required>
          </div>
        </div>

        <div class="form-row" id="divamount">
          <div class="col-lg-10">
            <br>
            <label id="lblamount">Amount : {{totalPrice}}</label>
          </div>
        </div>
        <!-- <div class="form-row">
          <div class="col-lg-10">
            <input type="text" placeholder="Amount" class="form-control my-3 p-4" formControlName="amount">
          </div>
        </div> -->
        <br><br><br>

        <div class="form-row">
          <div class="col-lg-10">
            <button type="submit" class= "mt-3 mb-5" id="btn">Proceed to Checkout</button>
          </div>
        </div>

      </form>

</div>
    </div>

