
<div class="container">
  <div class="row">
      <div class="col-md-12">
        <i class="fa-regular fa-egg-fried"></i>
                 <p>{{menu.toUpperCase()[0]+menu.slice(1)}}</p>
      </div>
  </div>
  <hr>
  <div class="row">
      <div class="col-md-3" *ngFor="let item of food">
          <div class="profile-card-4 text-center"><img src={{item.imageUrl}} class="img img-responsive">
            <div class="profile-content">

                <div class="item-name">{{item.name}}</div>
                <div class="item-description">{{item.description}}</div>
                <div class="row">
                    <div class="col-xs-4" style="position: absolute;bottom: 0px;">
                      <div class="addcart">
                        <p class="item_price">${{item.price}}</p><br>
                        <button  class="button-hover-addcart button" (click)="addtoCart(item)"><span>Add to Cart &nbsp;</span><i class="fa fa-shopping-cart"></i></button>
                      </div>
                    </div>
                </div>
            </div>
          </div>
      </div>
  </div>
</div>

