

<footer class="site-footer" id="footer">
  <div class="container">
    <div class="row">
      <div class="col-5" id="footer_col_1">
        <h6>About Us</h6>
        <p class="text-justify">Our creative, food and beverage program combines satisfying staples with imaginative twists. From boozy drag show brunches, classic Americana breakfasts, special occasions and everything in between, The Ketchup has something for everyone.</p>
      </div>

      <div class="col-3" id="footer_col_2">
        <h6>Quick Links</h6>
        <ul class="footer-links">
          <li><a href="#">Home</a></li>
          <li><a href="#">Menu</a></li>
          <li><a href="#">Services</a></li>
          <li><a routerLink="/admin-login">Admin</a></li>
        </ul>
      </div>

      <div class="col-4" id="footer_col_3">
        <h6>Contact Us</h6>
        <div iid="contactus">
        <ul class="footer-links">
          <li><i class="fa-sharp fa-solid fa-location-dot"></i>&nbsp;&nbsp;2306 Esplanade Avenue, New Orleans, LA</li>
          <li><i class="fa-solid fa-envelope"></i>&nbsp;ketchupfoods@gmail.com</li>
          <li><i class="fa-solid fa-phone"></i>&nbsp;(504) 521-6009</li>
        </ul>
        <button id="chatbtn" routerLink="/chat">Chat with Us</button>
      </div>
      </div>
    </div>
    <hr>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-md-8 col-sm-6 col-xs-12">
        <p class="copyright-text">Copyright &copy; 2023 All Rights Reserved by
     <a href="#">Ketchup</a>
        </p>
      </div>

      <div class="col-md-4 col-sm-6 col-xs-12">
        <ul class="social-icons">
          <li><a class="facebook" href="#"><i class="fa-brands fa-facebook"></i></a></li>
          <li><a class="twitter" href="#"><i class="fa-brands fa-twitter"></i></a></li>
          <li><a class="linkedin" href="#"><i class="fa-brands fa-instagram"></i></a></li>
          <li><a class="linkedin" href="#"><i class="fa-brands fa-linkedin"></i></a></li>

        </ul>
      </div>
    </div>
  </div>
</footer>
