

body {
	font-family: sans-serif;
}
h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
	font-family: sans-serif;
}
a {
	transition: .3s all ease;
	&, &:hover {
		text-decoration: none!important;
	}
}
.content {
	height: 100px;
}


footer{
	padding: 7rem 0;
	background-color: rgb(255, 255, 255);
	color: rgb(0, 0, 0);
  border-radius: 30px;
  box-shadow: 0px -5px 8px 0px rgba(0, 0, 0, 0.5);
}

.footer-start {
  background: url('https://fringetoronto.com/sites/default/files/images/kidsfest-footer-1600x350.png') bottom left;
  background-size: cover;
  height: 200px;
  position: absolute;
  z-index: 9999;
  bottom: 0px;
  left:0px;
  min-width: 1374px;
}
footer {
  background-color: #ffffff;
  height: 250px;
  font-family: trickpony;
  padding-top: 50px;
  padding-bottom: 50px;
  min-width: 1374px;
  margin: 0;
  position: relative;
}

	.footer-site-logo {
		font-size: 1.5rem;
		color: rgb(0, 0, 0);
	}
	.nav-links {
		li {
			margin-bottom: 10px;
			a {
				color: darken(white, 50%);
				&:hover {
					color: white;
				}
			}
		}
	}
	.btn {
		&.btn-tertiary {
			background-color: rgb(230, 177, 21);
			color: white;
			border-radius: 30px;
			border: none;
			padding: 10px 20px;
		}
	}
	.social {
		li {
			display: inline-block;
			a {
				color: darken(white, 50%);
				padding: 7px;
				&:hover {
					color: white;
				}
			}
		}
	}
	.copyright {
		border-top: 1px solid darken(white, 75%);
	}


